In [1]:
import pandas as pd
from urllib import request

In [2]:
YEARS = ['2010', '2011', '2012', '2013', '2014', '2015']
expenses = {}
for year in YEARS:
    expenses.update({str(year) : pd.read_csv("../Rytch saves the day/expenses_GOR_" + year+".csv",  low_memory=False)})

In [3]:
allData = pd.DataFrame(columns=["MP's Name", 
                              "MP's Constituency",
                              'Category',
                              'Amount Paid',
                              'Year',
                             'Region'])
holding = {}

In [4]:
for year, data in expenses.items():
    data['Year'] = year
    data.rename(columns={col : col.strip().replace("\\","") for col in data.columns}, inplace=True)
    data.drop([col for col in data.columns if col not in ["MP's Name", 
                                                          "MP's Constituency",
                                                          'Category',
                                                          'Amount Paid',
                                                          'Year',
                                                         'Region']], axis = 1, inplace=True)
    data.dropna(axis = 0, subset=['Region'], inplace=True)
    data.reset_index(inplace=True, drop=True)
    allData = pd.concat([allData, data], axis = 0)

In [5]:
allData.columns

Index(['Amount Paid', 'Category', 'MP's Constituency', 'MP's Name', 'Region',
       'Year'],
      dtype='object')

In [6]:
grouped = pd.DataFrame(allData.groupby(['Year',  
                                        'Region',
                                        "MP's Constituency",
                                        "MP's Name", 
                                        'Category', ], as_index=False)['Amount Paid'].sum().round(0))
grouped["Constituency"] = [con[:-3] if con[-3:] != 'own' else con for con in grouped["MP's Constituency"]]
grouped.rename(columns={"MP's Name" : "Name", "Amount Paid" : "Paid"}, inplace=True)
grouped.drop(["MP's Constituency"], axis = 1, inplace = True)

# Attaching constituency codes to df

In [21]:
cons = pd.read_json("con_to_reg.json", orient="index")
cons['concode'] = cons.index
cons.reset_index(drop = True, inplace = True)
cons.head()

                       name        reg    concode
0                 Aldershot  E15000008  E14000530
1       Aldridge-Brownhills  E15000005  E14000531
2  Altrincham and Sale West  E15000002  E14000532
3              Amber Valley  E15000004  E14000533
4   Arundel and South Downs  E15000008  E14000534

In [22]:
grouped.head()

   Year         Region         Name             Category    Paid  Constituency
0  2010  East Midlands  Nigel Mills        Accommodation  8452.0  Amber Valley
1  2010  East Midlands  Nigel Mills  Constituency Rental  7997.0  Amber Valley
2  2010  East Midlands  Nigel Mills        General Admin  5243.0  Amber Valley
3  2010  East Midlands  Nigel Mills             Staffing  3878.0  Amber Valley
4  2010  East Midlands  Nigel Mills               Travel  4269.0  Amber Valley

In [24]:
concodes = grouped.merge(cons, how='outer', left_on = 'Constituency', right_on = 'name')
concodes.head()

,Year,Region,Name,Category,Paid,Constituency,name,reg,concode
0,2010,East Midlands,Nigel Mills,Accommodation,8452.0,Amber Valley,Amber Valley,E15000004,E14000533
1,2010,East Midlands,Nigel Mills,Constituency Rental,7997.0,Amber Valley,Amber Valley,E15000004,E14000533
2,2010,East Midlands,Nigel Mills,General Admin,5243.0,Amber Valley,Amber Valley,E15000004,E14000533
3,2010,East Midlands,Nigel Mills,Staffing,3878.0,Amber Valley,Amber Valley,E15000004,E14000533
4,2010,East Midlands,Nigel Mills,Travel,4269.0,Amber Valley,Amber Valley,E15000004,E14000533

## Check which constituencies haven't merged properly - only Welsh ones

In [26]:
NonMergesGrouped = concodes[(concodes['Year'].isnull()) & (concodes['reg'].notnull()) ]
NonMergesGrouped

,Year,Region,Name,Category,Paid,Constituency,name,reg,concode
13285,NaN,NaN,NaN,NaN,NaN,NaN,Ynys Mśn,W08000001,W07000041
13286,NaN,NaN,NaN,NaN,NaN,NaN,Delyn,W08000001,W07000042
13287,NaN,NaN,NaN,NaN,NaN,NaN,Alyn and Deeside,W08000001,W07000043
13288,NaN,NaN,NaN,NaN,NaN,NaN,Wrexham,W08000001,W07000044
13289,NaN,NaN,NaN,NaN,NaN,NaN,Llanelli,W08000001,W07000045
13290,NaN,NaN,NaN,NaN,NaN,NaN,Gower,W08000001,W07000046
13291,NaN,NaN,NaN,NaN,NaN,NaN,Swansea West,W08000001,W07000047
13292,NaN,NaN,NaN,NaN,NaN,NaN,Swansea East,W08000001,W07000048
13293,NaN,NaN,NaN,NaN,NaN,NaN,Aberavon,W08000001,W07000049
13294,NaN,NaN,NaN,NaN,NaN,NaN,Cardiff Central,W08000001,W07000050
13295,NaN,NaN,NaN,NaN,NaN,NaN,Cardiff North,W08000001,W07000051
13296,NaN,NaN,NaN,NaN,NaN,NaN,Rhondda,W08000001,W07000052
13297,NaN,NaN,NaN,NaN,NaN,NaN,Torfaen,W08000001,W07000053
13298,NaN,NaN,NaN,NaN,NaN,NaN,Monmouth,W08000001,W07000054
13299,NaN,NaN,NaN,NaN,NaN,NaN,Newport East,W08000001,W07000055
13300,NaN,NaN,NaN,NaN,NaN,NaN,Newport West,W08000001,W07000056
13301,NaN,NaN,NaN,NaN,NaN,NaN,Arfon,W08000001,W07000057
13302,NaN,NaN,NaN,NaN,NaN,NaN,Aberconwy,W08000001,W07000058
13303,NaN,NaN,NaN,NaN,NaN,NaN,Clwyd West,W08000001,W07000059
13304,NaN,NaN,NaN,NaN,NaN,NaN,Vale of Clwyd,W08000001,W07000060
13305,NaN,NaN,NaN,NaN,NaN,NaN,Dwyfor Meirionnydd,W08000001,W07000061
13306,NaN,NaN,NaN,NaN,NaN,NaN,Clwyd South,W08000001,W07000062
13307,NaN,NaN,NaN,NaN,NaN,NaN,Montgomeryshire,W08000001,W07000063
13308,NaN,NaN,NaN,NaN,NaN,NaN,Ceredigion,W08000001,W07000064
13309,NaN,NaN,NaN,NaN,NaN,NaN,Preseli Pembrokeshire,W08000001,W07000065
13310,NaN,NaN,NaN,NaN,NaN,NaN,Carmarthen West and South Pembrokeshire,W08000001,W07000066
13311,NaN,NaN,NaN,NaN,NaN,NaN,Carmarthen East and Dinefwr,W08000001,W07000067
13312,NaN,NaN,NaN,NaN,NaN,NaN,Brecon and Radnorshire,W08000001,W07000068
13313,NaN,NaN,NaN,NaN,NaN,NaN,Neath,W08000001,W07000069
13314,NaN,NaN,NaN,NaN,NaN,NaN,Cynon Valley,W08000001,W07000070
13315,NaN,NaN,NaN,NaN,NaN,NaN,Merthyr Tydfil and Rhymney,W08000001,W07000071
13316,NaN,NaN,NaN,NaN,NaN,NaN,Blaenau Gwent,W08000001,W07000072
13317,NaN,NaN,NaN,NaN,NaN,NaN,Bridgend,W08000001,W07000073
13318,NaN,NaN,NaN,NaN,NaN,NaN,Ogmore,W08000001,W07000074
13319,NaN,NaN,NaN,NaN,NaN,NaN,Pontypridd,W08000001,W07000075
13320,NaN,NaN,NaN,NaN,NaN,NaN,Caerphilly,W08000001,W07000076
13321,NaN,NaN,NaN,NaN,NaN,NaN,Islwyn,W08000001,W07000077
13322,NaN,NaN,NaN,NaN,NaN,NaN,Vale of Glamorgan,W08000001,W07000078
13323,NaN,NaN,NaN,NaN,NaN,NaN,Cardiff West,W08000001,W07000079
13324,NaN,NaN,NaN,NaN,NaN,NaN,Cardiff South and Penarth,W08000001,W07000080

In [29]:
NonMergesCons = concodes[(concodes['Year'].notnull()) & (concodes['reg'].isnull()) ]
NonMergesCons

,Year,Region,Name,Category,Paid,Constituency,name,reg,concode
8386,2010,South East,Margaret Ritchie,Accommodation,3634.0,South Down,NaN,NaN,NaN
8387,2010,South East,Margaret Ritchie,Constituency Rental,8752.0,South Down,NaN,NaN,NaN
8388,2010,South East,Margaret Ritchie,General Admin,7868.0,South Down,NaN,NaN,NaN
8389,2011,South East,Margaret Ritchie,Accommodation,4716.0,South Down,NaN,NaN,NaN
8390,2011,South East,Margaret Ritchie,General Admin,457.0,South Down,NaN,NaN,NaN
8391,2011,South East,Margaret Ritchie,Office Costs,25872.0,South Down,NaN,NaN,NaN
8392,2012,South East,Margaret Ritchie,Accommodation,9096.0,South Down,NaN,NaN,NaN
8393,2012,South East,Margaret Ritchie,Miscellaneous Expenses,293.0,South Down,NaN,NaN,NaN
8394,2012,South East,Margaret Ritchie,Office Costs,23555.0,South Down,NaN,NaN,NaN
8395,2013,South East,Margaret Ritchie,Accommodation,10450.0,South Down,NaN,NaN,NaN
8396,2013,South East,Margaret Ritchie,Miscellaneous Expenses,0.0,South Down,NaN,NaN,NaN
8397,2013,South East,Margaret Ritchie,Office Costs,22602.0,South Down,NaN,NaN,NaN
8398,2013,South East,Margaret Ritchie,Staffing,139419.0,South Down,NaN,NaN,NaN
8399,2013,South East,Margaret Ritchie,Travel,21144.0,South Down,NaN,NaN,NaN
8400,2014,South East,Margaret Ritchie,Accommodation,9313.0,South Down,NaN,NaN,NaN
8401,2014,South East,Margaret Ritchie,Office Costs,24379.0,South Down,NaN,NaN,NaN
8402,2014,South East,Margaret Ritchie,Staffing,152701.0,South Down,NaN,NaN,NaN
8403,2014,South East,Margaret Ritchie,Travel,11007.0,South Down,NaN,NaN,NaN
8404,2015,South East,Margaret Ritchie,Accommodation,4343.0,South Down,NaN,NaN,NaN
8405,2015,South East,Margaret Ritchie,Office Costs,16863.0,South Down,NaN,NaN,NaN

In [34]:
[i for i in cons['name'].unique() if 'Down' in i]

['Arundel and South Downs']

In [ ]:
concodes = concodes[concodes['Year'].isnull]

In [122]:
#grouped.to_csv("ExpensesByRegion.csv")

In [115]:
consts = grouped["Constituency"].unique()
suffixes = pd.Series([i[-3:] for i in consts])
suffixes.unique()

array([' CC', ' BC', 'own'], dtype=object)

In [116]:
invest = [i for i in consts if i[-3:] == 'own']
invest

['South Down']